<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <!--  先定义项目名称  -->
    <Properties>
        <Property name="ServiceName">TestApp</Property>
    </Properties>

    <!-- 先定义所有的appender(附加器)-->
    <appenders>
        <!-- 输出控制台Log配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <!-- 设置日志级别,级别以下的日志将不会被输出 -->
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!-- 设置日志格式 -->
            <PatternLayout pattern="[%p] %l:%m%n "/>
        </Console>

        <!-- Info日志输入Log文件配置 -->
        <!-- fileName:文件的路径, [./]表示当前项目跟目录 -->
        <!-- filePattern:滚动后文件的路径 -->
        <RollingFile name="RollingInfoFile" fileName="./logs/${ServiceName}/info/${date:yyyy-MM-dd}/${ServiceName}-info.log" filePattern="./logs/${ServiceName}/info/${date:yyyy-MM-dd}/${ServiceName}-info.log">
            <Filters>
                <!-- 设置日志级别,级别以下的日志将不会被输出 -->
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!-- 设置日志格式 -->
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <!-- 根据文件大小进行滚动 -->
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <!-- 默认同一文件夹下最多7个文件 -->
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <!-- Error日志输入Log文件配置 -->
        <RollingFile name="RollingErrorFile" fileName="./logs/${ServiceName}/error/${date:yyyy-MM-dd}/${ServiceName}-error.log" filePattern="./logs/${ServiceName}/error/${date:yyyy-MM-dd}/${ServiceName}-error.log">
            <Filters>
                <!-- 设置日志级别,级别以下的日志将不会被输出 -->
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!-- 设置日志格式 -->
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <!-- 根据文件大小进行滚动 -->
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <!-- 默认同一文件夹下最多7个文件 -->
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </appenders>

    <!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <logger name="org.springframework.boot.StartupInfoLogger" level="ERROR">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.springframework.boot.SpringApplication" level="ERROR">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="com.test.TestDemo" level="INFO">
            <appender-ref ref="Console"/>
        </logger>

        <!-- 使用 RollingInfoFile appender 记录 INFO 级别的日志 -->
        <logger name="InfoLogger" level="INFO">
            <appender-ref ref="RollingInfoFile"/>
        </logger>

        <!-- 使用 RollingErrorFile appender 记录 ERROR 级别的日志 -->
        <logger name="ErrorLogger" level="ERROR">
            <appender-ref ref="RollingErrorFile"/>
        </logger>

        <!-- 建立一个默认的root的logger -->
        <root level="ERROR">
            <!-- 控制台输出日志 -->
<!--            <appender-ref ref="Console"/>-->
        </root>
    </loggers>
</configuration>