<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <!--  先定义项目名称  -->
    <Properties>
        <Property name="ServiceName">Gateway</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%traceId] %-5p %c{1}:%L - %m%n"/>
        </Console>
        <GRPCLogClientAppender name="grpc-log"/>
    </Appenders>

    <loggers>
        <logger name="ConsoleLogger" level="INFO">
            <appender-ref ref="Console"/>
        </logger>

        <!-- 使用 RollingInfoFile appender 记录 INFO 级别的日志 -->
        <logger name="grpc-log-logger" level="INFO">
            <appender-ref ref="grpc-log"/>
        </logger>
        <!-- 建立一个默认的root的logger -->
        <root level="INFO">
            <!-- 控制台输出日志 -->
            <appender-ref ref="Console"/>
            <appender-ref ref="grpc-log"/>
        </root>
    </loggers>
</Configuration>