package ${package.Entity}.dto;

import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import com.fasterxml.jackson.annotation.JsonFormat;
import java.util.Date;

/**
 * ${table.entityName} 删除接口参数封装类
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
public class ${table.entityName}DeleteDto {

#foreach($field in ${table.fields})
#if(${field.keyFlag})
    /**
    * ${field.comment}
    */
    #if(${field.propertyType} == 'String')
    @NotBlank(message = "${field.propertyName}参数不能为空")
    #elseif(${field.propertyType} == 'Integer')
    @NotNull(message = "${field.propertyName}参数不能为空")
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
}
