package ${package.Service};

import ${package.Entity}.${table.entityName};
import ${superServiceClassPackage};
import ${package.Entity}.dto.*;
import ${package.Entity}.vo.*;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
    * 查询列表
    * @param dto 数据对象
    * @return TableInfo
    */
    TableInfo<${table.entityName}ListVo> toList(${table.entityName}ListDto dto);

    /**
    * 详情
    * @param dto 数据对象
    * @return Row
    */
    Row<${table.entityName}DetailVo> toDetail(${table.entityName}DetailDto dto);

    /**
    * 新增
    * @param dto 数据对象
    * @return AjaxResult
    */
    AjaxResult toAdd(${table.entityName}AddDto dto);

    /**
    * 修改
    * @param dto 数据对象
    * @return AjaxResult
    */
    AjaxResult toEdit(${table.entityName}EditDto dto);

    /**
    * 删除
    * @param dto 数据对象
    * @return AjaxResult
    */
    AjaxResult toDelete(${table.entityName}DeleteDto dto);
}