package ${package}.${moduleName}.domain;

import lombok.*;
import com.atmb.common.core.domain.BaseEntitys;
import com.baomidou.mybatisplus.annotation.*;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import java.time.LocalDateTime;
import java.time.LocalDate;
import java.util.Date;

/**
 * ${comments}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
@TableName(value = "${tableName}",autoResultMap = true)
@KeySequence(value = "customerKeyGenerator",clazz = String.class)
public class ${className} extends BaseEntitys {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)

#if( $column.attrname == ${pk.attrname})
    /**
     * 主键ID
     */
    @TableId(type = IdType.INPUT)
    private $column.attrType $column.attrname;

#else
#if( $column.attrname == 'isDeleted')
    /**
     * 删除标识
     */
    @TableLogic
    private $column.attrType $column.attrname;

#elseif($column.attrname != 'createTime' && $column.attrname != 'updateTime')
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;

#end
#end
#end
}
