package ${package}.${moduleName}.domain.dto;

import lombok.Data;
import java.io.Serializable;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import java.util.Date;
import com.fasterxml.jackson.annotation.JsonFormat;

/**
 * ${className}Dto
 */
@Data
public class ${className}DeleteDto implements Serializable {
    /**
     * $column.comments
     */
    @NotBlank(message = "${pk.attrname}参数不能为空")
    private String ${pk.attrname};
}
