<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atmb.generator.mapper.SysGeneratorMapper">
    <select id="queryList" resultType="map">
        select table_name as TABLENAME, ENGINE,table_comment as TABLECOMMENT,create_time as createTime
        from information_schema.tables where table_schema = #{dbName}
        order by create_time desc
    </select>

    <select id="queryTable" resultType="map">
		select table_name as TABLENAME, engine,table_comment as TABLECOMMENT,create_time as createTime
		from information_schema.tables where table_schema = #{dbName} and table_name = #{tableName}
    </select>

    <select id="queryColumns" resultType="map">
		select column_name as COLUMNNAME,data_type as DATATYPE,column_comment as COLUMNCOMMENT,column_key as COLUMNKEY,EXTRA
		from information_schema.COLUMNS
		where table_schema = #{dbName}
		  and table_name = #{tableName}
		ORDER BY ordinal_position
    </select>

</mapper>
