<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.Professional.Mapper.ProfessionalMapper">

    <select id="getProfessionalListByAddress" resultType="com.demo.Professional.DoMain.Vo.ProfessionalByAddressVo">
        select
            professional.professional_id as professionalId,
            school.school_id as schoolId,
            school.school_code as schoolCode,
            school.school_name as schoolName,
            school.address as address,
            professional.professional_name as professionalName,
            professional.lowest_mark as lowestMark
        from sys_professional as professional
            left sys_school as school on professional.school_id =  school.school_id
        where school.address = #{obj.address}
        <if test="obj.sortFlg">
            order by professional.lowest_mark asc
        </if>
        <if test="!obj.sortFlg">
            order by professional.lowest_mark desc
        </if>
    </select>
</mapper>
